<div class="product-card">
  <div class="product-card-text">
    <h3 class="product-card-title">{{ item.node.title }}</h3>
    <p class="product-card-description">{{ item.node.modified }}</p>
  </div>
  <a href="/blog/{{ item.node.slug }}">
    <button>View Blog ></button>
  </a>
</div>
