<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }}</title>
</head>
<body>

  <header class="app-header">
    <h1>{{ head1 }}</h1>
    <nav class="main-nav">
      <ul>
        <li class="main-nav-item">
          <a href="/">All<a>
        </li>
        <li class="main-nav-item">
          <a href="/merch">merch<a>
        </li>
        <li class="main-nav-item">
          <a href="/music">music<a>
        </li>
        <li class="main-nav-item">
          <div class="cart-size"></div>
          <a href="/cart" class="cart cartLink">Shopping Cart</a>
        </li>
        
      </ul>
    </nav>
        <section class="testimonial">
      <h2>
        NEW ALBUM OUT NOW
      </h2>
      <p>Oh yeah</p>
    </section>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <section class="app-footer-links">
      <ul>
        <li>About</li>
        <li>Company</li>
        <li>Locations</li>
        <li>Contact</li>
        <li>Hours</li>
      </ul>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
      </ul>
      <div class="newsletter">
        <h2 class="newsletter-title">Sign up for our newsletter:</h2>
        <input
          class="newsletter-input"
          type="email"
          placeholder="Enter your email"
        />
      </div>
    </section>
  </footer>
  <script src="/js/shopping-ui.js"></script>
</body>
</html>
