---
title: T Shirts
layout: layouts/base.njk
head1: The Girls Bathroom
---

<ul class="product-grid">
  {% for item in products %}
  {% if ( item.node.productType == "T Shirt") %}
    {% include "product_summary.njk" %}
  {% endif %}
  {% endfor %}
</ul>
